{
  "plugins": [
    "transform-strict-mode",
    "transform-es2015-spread",
    "transform-object-rest-spread",
    "transform-es2015-destructuring",
    ["transform-runtime", {
      "polyfill": false,
      "regenerator": true
    }],
  ]
}
